<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page <%='hello word'.toUpperCase()%></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dolores facilis deserunt earum. Perferendis itaque eligendi iure, qui ipsam rerum porro, expedita nemo natus, temporibus dignissimos officia dolorem aliquid ratione.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere minima quaerat corporis perferendis ut, porro delectus ipsum totam cum, quos autem harum consectetur iure perspiciatis rem ad recusandae nihil molestiae?</p>
</body>
</html>