<%- include('partials/head') %>
<body>
    <%- include('partials/navbar.ejs') %> 

    <h1>Here Are All The Cats</h1>
    <ul>
        <% for (let cat of cats) { %>
            <li><%= cat %></li>
        <% } %>
    </ul>
<%- include('partials/footer.ejs') %> 