<%- include('partials/head') %>
<body>
    <%- include('partials/navbar.ejs') %> 

    <h1>The Home Page <%='hello word'.toUpperCase()%></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dolores facilis deserunt earum. Perferendis itaque eligendi iure, qui ipsam rerum porro, expedita nemo natus, temporibus dignissimos officia dolorem aliquid ratione.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere minima quaerat corporis perferendis ut, porro delectus ipsum totam cum, quos autem harum consectetur iure perspiciatis rem ad recusandae nihil molestiae?</p>
<%- include('partials/footer.ejs') %> 